.Container {
  font-size: 24px;
  margin: 25px;
  width: auto;
  display: flex;
  justify-content: center;
}

.Container-Column {
  width: 80%;
  background-color: white;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--box-border-radius-2);
  padding: 36px;
}

.SearchBox {
  /* height: 200px; */

  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
}

.SearchBar {
  direction: rtl;
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  background: url("../assets/imgs/search_icon.svg") no-repeat 13px center;
  display: block;
  height: 3rem;
  width: 100%;
}

.SearchBar::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

.SearchBar:hover {
  border-color: var(--main-color);
}

.SearchBar:focus {
  border-color: var(--main-color);
  background: #fff;
}

.SubmitButton {
  /* background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  ); */
  background-color: var(--main-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 14px;
}

.SubmitButton:hover {
  box-shadow: rgba(0, 128, 128, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .SubmitButton {
    padding: 0 2.6rem;
  }
}

.filter-checkbox {
  position: relative;
  width: min-content;
  padding-top: 14px;
}

.switch {
  display: none;
}

.filter-checkbox .switch + label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-checkbox .switch + label::before,
.filter-checkbox .switch + label::after {
  content: "";
  display: block;
}

.filter-checkbox .switch + label::before {
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.filter-checkbox .switch + label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05),
    0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.filter-checkbox .switch + label .switch-x-text {
  display: block;
  margin-right: 0.3em;
}

.filter-checkbox .switch + label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.filter-checkbox .switch + label .switch-x-unchecked,
.filter-checkbox .switch + label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out,
    -webkit-transform 0.125s ease-out;
}

.filter-checkbox .switch + label .switch-x-unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.filter-checkbox .switch + label .switch-x-checked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.filter-checkbox .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.filter-checkbox .switch:checked + label::before {
  background-color: var(--main-color);
}

.filter-checkbox .switch:checked + label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.filter-checkbox .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.filter-checkbox .switch:checked + label .switch-x-checked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
